<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Resources API</title>

		<!-- ICON -->
		<link rel="icon" href="assets/logo.svg" />

		<!-- STYLESHEETS -->
		<link rel="stylesheet" type="text/css" href="css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
			integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
	</head>
	<body>
		<div class="frame">
			<nav>
				<img src="public/assets/logo.svg" alt="logo" />
				<button class="contributors">Contributors</button>
			</nav>
			<main>
				<section class="description">
					<h1>Coding Resources API</h1>
					<p>
						Search for coding resources by relevant keywords.
						This API serves educational content for a wide
						variety of computer science topics, languages and
						technologies relevant to web development.
					</p>
				</section>
				<section class="api-test">
					<form action="">
						<input
							type="text"
							name=""
							value=""
							placeholder="/api/'keyword'"
						/>
						<button id="keyword-btn" type="button">
							<i class="fa-solid fa-magnifying-glass"></i>
						</button>
						<button type="submit" style='display: none;'></button>
					</form>
					<div class="result">
						<div class='scroll-container'>
							<ul id="result-list">
								<!-- Loop through resources array and render each object to the DOM -->
								<% for(let i = 0; i < resources.length; i++) { %>
									<li>
										<!-- JSON Format for DOM rendering -->
										<!-- Add indentation, line break and quotes around each key's value -->
										<pre class="json"><code>{<div class="indent"><br>name: '<%= resources[i].name %>',<br>url: <a href=<%= resources[i].url %>>'<%= resources[i].url %>',</a><br class="middle-br">keywords: [<%= resources[i].keywords.map(keyword => `'${keyword}'`).join(", ") %>]<br></div>},</code></pre>
									</li>
								<% } %>
							</ul>
						</div>
					</div>
				</section>
			</main>
			<section class="documentation">
				<h2>Documentation</h2>
				<section class='object-table'>
					<h3>There are 3 keys/properties that come with each resource object:</h3>
					<table class="darkTable">
						<thead>
						<tr>
						<th id='property'>PROPERTY</th>
						<th id='description'>DESCRIPTION</th>
						</tr>
						</thead>
						<tbody>
						<tr>
						<td id='name'>name</td><td>[String] Name or title of the document, article or website. </td></tr>
						<tr>
						<td id='url'>url</td><td>[String] Link to website.</td></tr>
						<tr>
						<td id='keywords'>keywords</td><td id='array'>[Array] Relevant keywords related to the resource's topic.</td></tr>
						</tbody>
						</tr>
					</table>
				</section>
			</section>
		</div>
	</body>
	<script src="js/main.js"></script>
</html>
