@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;800&display=swap');
html {
	font-family: 'Montserrat', sans-serif;
}

div {
	padding: 0;
	margin: 0;
	border: solid 8px #141414;
	margin: 2rem;
	border-radius: 4rem;
	overflow: hidden;
}

main {
	display: flex;
}

main > section {
	width: 50%;
	height: 600px;
	display: flex;
	align-items: center;
	justify-content: center;
}

section > img {
	width: 70%;
}

section.description > h1 {
	width: 70%;
	font-size: 2.5rem;
	font-weight: 400;
}

section.description > h1 > span {
	font-weight: 800;
}

section.documentation {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: lightgray;
}
